{% extends "base.html" %}

{% block title %}Publier une critique{% endblock %}

{% block content %}
    {% include "nav_bar.html" %}
    {% block nav_bar %}
    {% endblock %}
    {% if actual_review %}
        <h2 class="text-center mt-3">Modifier une critique</h2>
    {% else %}
        <h2 class="text-center mt-3">Créer une critique</h2>
    {% endif %}
    <div class="container">
        <p class="text-warning bg-secondary">Vous êtes en train de poster en réponse à :</p>
        {% include 'tickets/display_ticket.html' with stop_btn=1 ticket=ticket %}
        <hr>
        <form class="form-inline" method="post" action="{% url 'reply-ticket' ticket.id %}">
            {% include 'reviews/create.html' %}
        </form>
    </div>

    <div class="container-fluid text-center mb-3">
         <a class="alert alert-link" href="{% url 'feed' %}">Flux</a>
         <a class="alert alert-link" href="{% url 'posts' %}">Posts</a>
         <a class="alert alert-link" href="{% url 'subscribers' %}">Abonnments</a>
         <a class="alert alert-link" href="{% url 'logout' %}">Se déconnecter</a>
         <p class="mt-3"> LITReview | Copyright &copy; 2023</p>
     </div>
{% endblock %}