{% extends "base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}

    {% include "nav_bar.html" %}
    {% block nav_bar %}
    {% endblock %}

    <div class="container">
        <div class="text-center mt-3 mb-3">
            <a class="btn btn-primary" href="{% url 'update-ticket' %}" role="button">Demander une critique</a>
            <a class="btn btn-secondary" href="{% url 'update-review' %}" role="button">Créer une critique</a>
        </div>
    </div>

    <div class="container mb-3">
        {% for element in elements %}
            {% if element in tickets %}
                {% if element in tickets_stop_btn %}
                    {% include 'tickets/display_ticket.html' with ticket=element stop_btn=1 %}
                    <hr>
                {% else %}
                    {% include 'tickets/display_ticket.html' with ticket=element %}
                    <hr>
                {% endif %}
            {% elif element in reviews %}
                {% include 'reviews/display_review.html' with review=element %}
                <hr>
            {% endif %}

            {% empty %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm">
                            <p class="display-4">
                                Il n'y aucun ticket ou aucune critique à afficher !
                            </p>
                            <p class="display-4">
                                Veuillez créer un ticket ou une critique et suivre des utilisateurs !
                            </p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>


    <div class="container-fluid text-center col-sm mb-3">
         <a class="alert alert-link" href="{% url 'posts' %}">Posts</a>
         <a class="alert alert-link" href="{% url 'subscribers' %}">Abonnements</a>
         <a class="alert alert-link" href="{% url 'logout' %}">Se déconnecter</a>
         <p class="mt-3"> LITReview | Copyright &copy; 2023</p>
     </div>
{% endblock %}
