* {
    background: pink;
}
.page-title {
    color: green;
    text-align: center;
}
.form-title {
    color: white;
    text-align: center;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 10px 20px;
}
