#signup, #login
{
    width: 50%;
    font-size: 25px;
}
#signup{
    float: left;
}
#login{
    float: right;
}
.form-button {
    display: inline-block;
    background-color: gray;
    border-radius: 10px;
    border: 4px double white;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 400px;
    transform: translate(50%, -50%);
    margin-left: 300px;
    margin-top: 20px;
}
.form-button:hover {
  background-color: orange;
}
input {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 4px double white;
    text-align: center;
    font-size: 28px;
    padding: 5px;

}
label {
    font-weight: bold;
}