{% extends "base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <section id="signup">
    <h2 class="form-title">Inscrivez-vous maintenant</h2>
    <br>
    <button type="button" class="form-button"><a href="{% url 'signup' %}">S'inscrire</a></button>
    </section>

    <section id="login">
    <h2 class="form-title">Connectez-vous</h2>
    {{ form.as_p }}
    <input class="form-button" type="submit" value="Se connecter">
    </section>
</form>
{% endblock %}
