{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter">
</form>
{% endblock content %}


<!--
    <article id="form-container">
        <form method="post">
            <header id="signup">
                <h2 class="form-title">Inscrivez-vous maintenant</h2>
                <br>
                <a class="form-link" href=""><button>S'inscrire</button></a>
            </header>
            <main id="login">
                <div>
                    <h2 class="form-title">Connectez-vous</h2>
                </div>
                <div class="form-input">
                    <input placeholder="Nom d'utilisateur" name="username" value="">
                </div>
                <br>
                <div class="form-input">
                    <input type="password" placeholder="Mot de passe" name="password" value="">
                </div>
                <br>
                {% csrf_token %}
                <input class="form-button" type="submit" value="Se connecter">
            </main>
        </form>
    </article>
-->